@media screen and (min-width: 1024px) {
body{
    
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.navbar{
    display: grid;
    grid-template-columns: 160px 91px 91px 91px;
}
.logo1{
    grid-column: 1/2;
    grid-row: 1/2;
    width:8rem;
}
.about, .logo1, .stories, .news-events{
    grid-row: 1/2;
}
.about{
    grid-column: 2/3;
}
.stories{
    grid-column: 3/4;
}
.news-events{
    grid-column: 4/5;
}
}
