* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 1500vh; */
    font-family: Helvetica, sans-serif;
    color: #354463;
}

.navbar {
    height: 5rem; /* 80px */
    width:23.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.header {
    height: 2.5rem; /* 40px */
    width: 7.5rem; /* 120px */
    font-weight: bold;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 61.56rem; /* 985px */
    width: 23.5rem; /* 376px */
    background-image: url(Images/annie-spratt-427340-unsplash-\(1\).png);
    background-size: cover;
    box-sizing: border-box;
    padding: 2rem;
}

.main-text {
    height: 4.9375rem; /* 79px */
    width: 19.5rem; /* 312px */
    font-family: 'flood-std';
    color: #FFFFFF;
    font-size: 2rem; /* 32px */
}

.main-form {
    height: 51rem; /* 816px */
    width: 19.5rem; /* 312px */
    background-color: #354463;
    box-sizing: border-box;
    padding: 2rem;
}

.container10 {
    height: 37.5rem;
    width: 23.5rem;
    box-sizing: border-box;
    background-color: white;
    padding: 2rem;
  }
  .con10-items{
    display: grid;
    grid-template-columns: 94px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
    align-items: center;
    font-size: 14px;
  }
  .con10-items1{
    height: 62px;
    width: 94px;
    font-size: 18px;
    font-weight: bold;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .con10-items2{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .con10-items3{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .con10-items4{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .con10-item5{
    grid-column: 2/3;
    grid-row:3/4 ;
    text-align: center;
    height: 11.25rem;
    width: 13.125rem;
    font-family: "flood-std";
    font-size: 2.75rem;
  }
  .con-10-items2-2{
    margin-top: 10px;
    
  }    
.yourinfo {
    height: 1.6875rem; /* 27px */
    width: 15.5625rem; /* 249px */
    font-size: 1.375rem; /* 22px */
    font-weight: bold;
    color: #FFFFFF;
}

.nameinfo {
    display: grid;
    grid-template-columns: 4.625rem 4.625rem; /* 74px */
    grid-template-rows: auto auto;
    column-gap: 3.75rem; /* 60px */
    margin-top: 1rem;
}

.name-item3 input,
.name-item4 input {
    width: 6.25rem; /* 100px */
    background-color: #354463;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid #C1F7D5;
    color: #FFFFFF;
}
.add-item7 input {
    width: 5rem;                        
    background-color: #354463; 
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid #C1F7D5;
    color: #FFFFFF;
}

.add-item8 input,
.add-item9 input,
.pay-item6 input,
.pay-item7 input,
.pay-item8 input {
    width: 3.125rem;                        
    background-color: #354463; 
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid #C1F7D5;
    color: #FFFFFF;
}

.add-item10 input,
.add-item6 input,
.pay-item5 input {
    width: 15rem;                        
    background-color: #354463; 
    padding: 0.5rem 0;
    border: none;
    border-bottom: 1px solid #C1F7D5;
    color: #FFFFFF;
}

/* Text Elements */
.name-item1,
.name-item2,
.add-item1,
.add-item2,
.add-item3,
.add-item4,
.add-item5,
.pay-item2,
.pay-item3,
.pay-item4 {
    font-size: 0.6875rem;
    color: #FFFFFF;
}

/* Address Info Grid */
.addressinfo {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-areas:
        "sta sta sta"
        "sti sti sti"
        "ct state zip"
        "cti statei zipi"
        "em em em"
        "emi emi emi";
    row-gap: 0.625rem;
    margin-top: 0.625rem;
}

.add-item1 {
    grid-area: sta;
    width: 6.5625rem;
}

.add-item2 {
    grid-area: ct;
    width: 1.625rem;
}

.add-item3 {
    grid-area: state;
    width: 2.25rem;
}

.add-item4 {
    grid-area: zip;
    width: 3.4375rem;
}

.add-item5 {
    grid-area: em;
    width: 5.875rem;
}

.add-item6 {
    grid-area: sti;
}

.add-item7 {
    grid-area: cti;
}

.add-item8 {
    grid-area: statei;
}

.add-item9 {
    grid-area: zipi;
}

.add-item10 {
    grid-area: emi;
}

/* Payment Info Grid */
.paymentinfo {
    display: grid;
    grid-template-columns: 20% 26.67% 30%;
    grid-template-areas:
        "pinfo pinfo pinfo"
        "cn cn cn"
        "cni cni cni"
        "exp exp scn"
        "expm expy cvcn";
    row-gap: 0.625rem;
    margin-top: 1.25rem;
}

.pay-item1 {
    width: 15.5625rem;
    height: 1.6875rem;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.375rem;
    grid-area: pinfo;
}

.pay-item2 {
    grid-area: cn;
}

.pay-item3 {
    grid-area: exp;
    width: 6.5rem;
}

.pay-item4 {
    width: 6rem;
    grid-area: scn;
}

.pay-item5 {
    grid-area: cni;
}

.pay-item6 {
    grid-area: expm;
}

.pay-item7 {
    grid-area: expy;
}

.pay-item8 {
    grid-area: cvcn;
}

/* Pay Process */
.payprocess {
    display: flex;
    flex-direction: column;
    row-gap: 3.125rem;
    margin-top: 1.875rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C1F7D5;
    border: none;
    font-weight: bold;
    border-radius: 1.375rem;
    cursor: pointer;
}

.payprocess-item1 {
    width: 15.5625rem;
    height: 5.1875rem;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.375rem;
    grid-area: pinfo;
}

.payprocess-item2 {
    width: 15.5625rem;
    height: 3.0625rem;
}

.payprocess-item3 a {
    width: 3.3125rem;
    height: 0.875rem;
    color: #C1F7D5;
}
